table.jst-viz {
	empty-cells: hide;
	border-collapse: collapse;
}

.jst-viz th, .jst-viz td {
	padding: 0.6em 0.2em;
}

.jst-viz th {
	font-size: smaller;
	border-bottom: 1px solid black;
}

.jst-viz td {
	text-align: right;
}

.jst-viz th[scope="row"] {
	text-align: left;
}

.jst-viz caption {
	font-weight: bold;
	text-align: left;
}